<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.css.map" />
    <link rel="stylesheet" href="css/style.css" />

    <script defer src="js/scriptCur.js"></script>
    <title>Alumno #${ide}</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a id="btn-inicio" class="navbar-brand text-light" href="/">
          <img
            src="img/descarga.jpg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Inicio
        </a>
        <!-- <a id="btn-inicio" class="navbar-brand text-light" href="/">Inicio</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!-- CUERPO -->
    <!--  -->

    <section class="container pt-4 mt-4">
      <div class="card text-center mt-4">
        <div class="card-header mb-2"><b>Alumno - ID #${ide}</b></div>
        <img
          src="img/descarga.jpg"
          class="center"
          style="
            max-width: 200px;
            max-height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          "
          alt="instructor"
        />
        <div class="card-body">
          <h5 class="card-title">${nombres} ${apellidos}</h5>
          <p class="card-text">
            <b>${documentoTipo}:</b> ${documentoNro}<br />
            <b>E-Mail:</b> ${email}<br />
            <b>Domicilio:</b> ${domicilio}<br />
            <b>Teléfono:</b> ${telefono}
          </p>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="css/bootstrap.min.js"></script>
  </body>
</html>
