<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.css.map" />
    <link rel="stylesheet" href="css/style.css" />

    <script defer src="js/script.js"></script>
    <title>Inicio</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a id="btn-inicio" class="navbar-brand text-light" href="/">
          <img
            src="img/descarga.jpg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Inicio
        </a>
        <!-- <a id="btn-inicio" class="navbar-brand text-light" href="#">Inicio</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a id="btn-cursos" class="nav-link text-light" href="#">Cursos</a>
            <a id="btn-instructores" class="nav-link text-light" href="#"
              >Instructores</a
            >
            <a id="btn-alumnos" class="nav-link text-light" href="#">Alumnos</a>
          </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-outline-secondary text-light my-2 my-sm-0"
            type="button"
          >
            <a href="/login" class="text-light" style="text-decoration: none"
              >Iniciar Sesión</a
            >
          </button>
        </form>
      </div>
    </nav>
    <!-- CURSOS -->
    <div class="container-fluid titulo-cursos p-4">
      <h1 class="display-6">Listado general de Cursos</h1>
    </div>
    <div class="container-nav p-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-alu btn-secondary" id="openCurso">
          Registrar Nuevo Curso
        </button>
      </div>
    </div>
    <section class="container cont-curso">
      <div
        class="
          container
          form
          cont-formulario-curso
          mt-2
          mb-4
          py-2
          border
          d-none
        "
      >
        <form class="formulario-cursos" method="post" action="/cursos">
          <div class="row pt-2 mb-4">
            <div class="col">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el nombre del curso"
                id="nombreCurso"
                required
              />
            </div>
            <div class="col">
              <label for="txtDesde">Fecha de inicio</label>
              <input
                type="date"
                class="form-control"
                placeholder="Ingrese la fecha de inicio del curso"
                id="fechaInicioCurso"
                required
              />
            </div>
            <div class="col">
              <label for="txtHasta">Fecha de finalización</label>
              <input
                type="date"
                class="form-control"
                placeholder="Ingrese la fecha de finalización del curso"
                id="fechaFinalCurso"
                required
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              <label for="selectDia">Dia</label>
              <select class="form-control" id="dia--1">
                <option>Lunes</option>
              </select>
            </div>
            <div class="col-4">
              <label for="inputHoraIni">Hora de inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicio--1"
                placeholder="00:00"
              />
            </div>
            <div class="col-4">
              <label for="inputHoraFin">Hora de finalización</label>
              <input
                type="time"
                class="form-control"
                id="horaFin--1"
                placeholder="00:00"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              <label for="selectDia">Dia</label>
              <select class="form-control" id="dia--2">
                <option>Martes</option>
              </select>
            </div>
            <div class="col-4">
              <label for="inputHoraIni">Hora de inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicio--2"
                placeholder="00:00"
              />
            </div>
            <div class="col-4">
              <label for="inputHoraFin">Hora de finalización</label>
              <input
                type="time"
                class="form-control"
                id="horaFin--2"
                placeholder="00:00"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              <label for="selectDia">Dia</label>
              <select class="form-control" id="dia--3">
                <option>Miércoles</option>
              </select>
            </div>
            <div class="col-4">
              <label for="inputHoraIni">Hora de inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicio--3"
                placeholder="00:00"
              />
            </div>
            <div class="col-4">
              <label for="inputHoraFin">Hora de finalización</label>
              <input
                type="time"
                class="form-control"
                id="horaFin--3"
                placeholder="00:00"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              <label for="selectDia">Dia</label>
              <select class="form-control" id="dia--4">
                <option>Jueves</option>
              </select>
            </div>
            <div class="col-4">
              <label for="inputHoraIni">Hora de inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicio--4"
                placeholder="00:00"
              />
            </div>
            <div class="col-4">
              <label for="inputHoraFin">Hora de finalización</label>
              <input
                type="time"
                class="form-control"
                id="horaFin--4"
                placeholder="00:00"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              <label for="selectDia">Dia</label>
              <select class="form-control" id="dia--5">
                <option>Viernes</option>
              </select>
            </div>
            <div class="col-4">
              <label for="inputHoraIni">Hora de inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicio--5"
                placeholder="00:00"
              />
            </div>
            <div class="col-4">
              <label for="inputHoraFin">Hora de finalización</label>
              <input
                type="time"
                class="form-control"
                id="horaFin--5"
                placeholder="00:00"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-guardar btn-primary mt-2">
            Guardar
          </button>
        </form>
      </div>
      <table class="table table-striped table-hover" id="tabla-cursos">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
            <th scope="col">Instructores</th>
            <th scope="col">Alumnos</th>
          </tr>
        </thead>
        <tbody>
          ${cursos}
        </tbody>
      </table>
    </section>
    <!-- INSTUCTORES -->
    <div class="container-fluid titulo-instructores p-4">
      <h1 class="display-6">Listado general de Instructores</h1>
    </div>
    <div class="container-nav p-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-alu btn-secondary" id="openInstr">
          Registrar Nuevo Instructor
        </button>
      </div>
    </div>
    <section class="container cont-instructor">
      <div
        class="
          container
          form
          cont-formulario-instr
          mt-2
          mb-4
          py-2
          border
          d-none
        "
      >
        <form class="formulario-instr" method="post" action="/instructores">
          <div class="row mb-2">
            <div class="col">
              <label for="instrApellidos">Apellido/s</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el/los apellido/s"
                id="instrApellidos"
                required
              />
            </div>
            <div class="col">
              <label for="instrNombres">Nombre/s</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el/los nombre/s"
                id="instrNombres"
                required
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="profTitulo">Profesión/Título</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese la profesión o título"
                id="profTitulo"
                required
              />
            </div>
            <div class="col">
              <label for="cursos">Curso</label>
              <select class="form-select" aria-label="Cursos" id="instrCursos">
                <option value=" " selected></option>
                ${cursosSelec}
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="instrEmail">E-Mail</label>
              <input
                type="email"
                class="form-control"
                placeholder="Ingrese la dirección de e-mail"
                id="instrEmail"
                required
              />
            </div>
            <div class="col">
              <label for="instrDomicilio">Domicilio</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el domicilio"
                id="instrDomicilio"
                required
              />
            </div>
            <div class="col">
              <label for="instrTelefono">Teléfono</label>
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese el número de teléfono"
                id="instrTelefono"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-guardar btn-primary mt-2">
            Guardar
          </button>
        </form>
      </div>
      <table class="table table-striped table-hover" id="tabla-instructores">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Apellido/s</th>
            <th scope="col">Nombre/s</th>
            <th scope="col">Profesión/Titulo</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
          ${instructores}
        </tbody>
      </table>
    </section>
    <!-- ALUMNOS -->
    <div class="container-fluid titulo-alumnos p-4">
      <h1 class="display-6">Listado general de Alumnos</h1>
    </div>
    <div class="container-nav p-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-alu btn-secondary" id="openAlu">
          Registrar Nuevo Alumno
        </button>
      </div>
    </div>
    <section class="container cont-alumno">
      <div
        class="container form cont-formulario-alu mt-2 mb-4 py-2 border d-none"
      >
        <form class="formulario-alu" method="post" action="/alumnos">
          <div class="row mb-2">
            <div class="col">
              <label for="aluApellidos">Apellido/s</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el/los apellido/s"
                id="aluApellidos"
              />
            </div>
            <div class="col">
              <label for="aluNombres">Nombre/s</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el/los nombre/s"
                id="aluNombres"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="documentoTipo">Tipo de Documento</label>
              <select class="form-control" id="documentoTipo">
                <option>DNI</option>
                <option>CI</option>
              </select>
            </div>
            <div class="col">
              <label for="documentoNro">N°</label>
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese el número del documento"
                id="documentoNro"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="aluEmail">E-Mail</label>
              <input
                type="email"
                class="form-control"
                placeholder="Ingrese la dirección de e-mail"
                id="aluEmail"
              />
            </div>
            <div class="col"></div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="aluDomicilio">Domicilio</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el domicilio"
                id="aluDomicilio"
              />
            </div>
            <div class="col">
              <label for="aluTelefono">Teléfono</label>
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese el número de teléfono"
                id="aluTelefono"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-guardar btn-primary mt-2">
            Guardar
          </button>
        </form>
      </div>
      <table class="table table-striped table-hover" id="tabla-alumnos">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Apellido/s</th>
            <th scope="col">Nombre/s</th>
            <th scope="col">Tipo de Documento</th>
            <th scope="col">N° Documento</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
          ${alumnos}
        </tbody>
      </table>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="css/bootstrap.min.js"></script>
  </body>
</html>
