<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.css.map" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a id="btn-inicio" class="navbar-brand text-light" href="/">
          <img
            src="img/descarga.jpg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Inicio
        </a>
        <!-- <a id="btn-inicio" class="navbar-brand text-light" href="/">Inicio</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="787418811025-6j03ojd15qq5mo0asnd5viji5qdb5qgv.apps.googleusercontent.com"
      data-auto_select="true"
      data-callback="handleCredentialResponse"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <div>
      <button id="btn-logout" class="btn btn-primary">Logout</button>
    </div>
    <script>
      function handleCredentialResponse(response) {
        // console.log('Encoded JWT ID token: ' + response.credential);
        const body = { id_token: response.credential };

        fetch('/login/googlesignin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(body),
        })
          .then((resp) => resp.json())
          .then((resp) => {
            // console.log(resp);
            console.log(`Google token: ${response.credential}`);
            localStorage.setItem('email', resp.correo);
          })
          .catch(console.warn);
      }

      const button = document.getElementById('btn-logout');
      button.onclick = async () => {
        google.accounts.id.disableAutoSelect();
        google.accounts.id.revoke(localStorage.getItem('email'), (done) => {
          localStorage.clear();
          location.reload();
        });
      };
      // window.onload = function () {
      //   google.accounts.id.initialize({
      //     client_id:
      //       '787418811025-6j03ojd15qq5mo0asnd5viji5qdb5qgv.apps.googleusercontent.com',
      //     callback: handleCredentialResponse,
      //   });
      //   google.accounts.id.renderButton(
      //     document.getElementById('buttonDiv'),
      //     { theme: 'outline', size: 'large' } // customization attributes
      //   );
      //   google.accounts.id.prompt(); // also display the One Tap dialog
      // };
    </script>
    <div id="buttonDiv"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="css/bootstrap.min.js"></script>
  </body>
</html>
