<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.css.map" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Iniciar Sesión</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>
  <style>
    .g_id_signin {
      float: none;
      position: static;
      display: block;
      margin: auto;
      width: max - content;
    }
    .card {
      float: none;
      position: static;
      margin: auto;
      max-width: 60ch;
    }
  </style>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a id="btn-inicio" class="navbar-brand text-light" href="/">
          <img
            src="img/descarga.jpg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Inicio
        </a>
        <!-- <a id="btn-inicio" class="navbar-brand text-light" href="/">Inicio</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <section class="container pt-4 mt-4">
      <div class="card mt-4">
        <div class="card-header text-center mb-2"><b>Iniciar Sesión</b></div>
        <div class="row mb-2 mx-4">
          <div class="col">
            <label for="userEmail">E-Mail</label>
            <input
              type="email"
              class="form-control mb-2"
              placeholder="Ingrese la dirección de e-mail"
              id="userEmail"
            />
            <label for="userContraseña">Contraseña</label>
            <input
              type="password"
              class="form-control mb-3"
              placeholder="Ingrese su contraseña aquí"
              id="userContraseña"
            />
            <div>
              <button id="btn-login" class="btn btn-primary mb-2">
                Ingresar
              </button>
            </div>
          </div>
        </div>
        <div
          id="g_id_onload"
          data-client_id="787418811025-6j03ojd15qq5mo0asnd5viji5qdb5qgv.apps.googleusercontent.com"
          data-auto_select="false"
          data-callback="handleCredentialResponse"
        ></div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        >
          Botón
        </div>

        <div class="card-footer text-muted mt-2">
          <div>
            <button id="btn-logout" class="btn btn-primary mx-4">Logout</button>
          </div>
        </div>
      </div>
    </section>

    <script>
      function handleCredentialResponse(response) {
        // console.log('Encoded JWT ID token: ' + response.credential);
        const body = { id_token: response.credential };

        fetch('/login/googlesignin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(body),
        })
          .then((resp) => resp.json())
          .then((resp) => {
            console.log(resp);
            console.log(`Google token: ${response.credential}`);
            localStorage.setItem('token', resp.token);
          })
          .catch(console.warn);
      }

      const button = document.getElementById('btn-logout');
      button.onclick = async () => {
        google.accounts.id.disableAutoSelect();
        google.accounts.id.revoke(localStorage.getItem('email'), (done) => {
          localStorage.clear();
          location.reload();
        });
      };

      const btnLogin = document.getElementById('btn-login');
      const userEmail = document.getElementById('userEmail');
      const userContraseña = document.getElementById('userContraseña');

      btnLogin.addEventListener('click', () => {
        let dataLogin = {
          correo: userEmail.value,
          password: userContraseña.value,
        };

        fetch(`/login`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify(dataLogin),
        })
          .then((resp) => resp.json())
          .then((resp) => {
            console.log(resp);
            localStorage.setItem('token', resp.token);
            window.location.replace('/');
          })
          .catch(console.warn);
      });
    </script>
    <div id="buttonDiv"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="css/bootstrap.min.js"></script>
  </body>
</html>
